/* Comment */

body
{
	/*background-color: black;
	color: white;*/
}

/* Veyr useful link https://developer.mozilla.org/en/docs/Web/CSS/Specificity */

div
{
	color: red!important;
}

div
{
	color: blue;
}